---
// Card.astro
import type { Card } from "../models/card";

type Props = Card;

const { title, id, description, imageUrl, success } = Astro.props;
const launchStatus = success ? "Success" : "Failure";
---

<a href={`/launch/${id}`} class="flex">
  <div class="card">
    <div
      class:list={[
        "inline-block rounded px-2.5 py-0.5 ml-2 mt-2 text-xs",
        {
          "bg-green-400 text-green-900": success,
          "bg-red-400 text-red-900": !success,
        },
      ]}
    >
      {launchStatus}
    </div>
    <img src={imageUrl} alt={title} class="card-image" />
    <div class="card-content">
      <h2 class="card-title">{title}</h2>
      <p class="card-description">{description}</p>
    </div>
  </div>
</a>
<style>
  .card {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    max-width: 300px;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .card-image {
    margin-top: 10px;
    margin-inline: auto;
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  .card-content {
    padding: 16px;
  }

  .card-title {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #323130;
    margin: 0 0 8px 0;
  }

  .card-description {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: #605e5c;
    line-height: 1.4;
    margin: 0;
  }
</style>
